.blueimp-gallery > .slides > .slide-loading {
    background: url(/img/loading.gif) center no-repeat;
    background-size: 64px 64px;
  }
  .blueimp-gallery-smil > .slides > .slide-loading {
    background-image: url(/img/loading.svg);
  }
  .blueimp-gallery > .slides > .slide-loading > .slide-content {
    opacity: 0;
  }
  .blueimp-gallery > .slides > .slide-error {
    background: url(/img/error.svg) center no-repeat;
  }
  .blueimp-gallery-svgasimg > .slides > .slide-error {
    background-image: url(/img/error.svg);
  }
  .blueimp-gallery > .slides > .slide-error > .slide-content {
    display: none;
  }
  .blueimp-gallery-display > .prev,
  .blueimp-gallery-display > .next {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 8px;
    height: 20px;
    padding: 10px 14px 10px 18px;
    margin-top: -23px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: #222 url(/img/prev.svg) center no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid #fff;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    opacity: 0.5;
    cursor: pointer;
    display: none;
  }
  .blueimp-gallery-display > .next {
    right: 15px;
    left: auto;
    background-image: url(/img/next.svg);
  }
  .blueimp-gallery-svgasimg > .prev {
    background-image: url(/img/prev.svg);
  }
  .blueimp-gallery-svgasimg > .next {
    background-image: url(/img/next.svg);
  }
  .blueimp-gallery-display > .close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: url(/img/close.svg) center no-repeat;
    opacity: 0.8;
    cursor: pointer;
    display: none;
  }
  .blueimp-gallery-svgasimg > .close {
    background-image: url(/img/close.svg);
  }
  .blueimp-gallery > .title {
    position: absolute;
    top: 15px;
    left: 15px;
    margin: 0 60px 0 0;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-shadow: 0 0 2px #000;
    opacity: 0.8;
    display: none;
  }
  .blueimp-gallery-display > .play-pause {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 30px;
    height: 30px;
    background: url(/img/play-pause.svg) 0 0 no-repeat;
    cursor: pointer;
    opacity: 0.5;
    display: none;
  }
  .blueimp-gallery-svgasimg > .play-pause {
    background-image: url(/img/play-pause.svg);
  }